@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* General styles */
  color: #3a3a3a;
}
/* Header */
header {
  background-color: lightcoral;
}

/* Main */
main {
  background-color: lightblue;
  /* Make main element tuke up surplus to push footr down */
  flex: 1 0 auto;
}

/* Footer */
footer {
  background-color: orange;
}
